.basket {
  position: relative;
  color: #888888;
}

.basket__counter {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 6px;
  color: #fff6f4;
  border-radius: 50%;
  background: #f05029;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}